{% extends 'base.html' %}

{% block title %}
    {% if config['name'] == '' %}
        Dashboard - New Script
    {% else %}
        Dashboard - {{ config['name'] }}
    {% endif %}
{% endblock %}

{% block head %}
<script>
    function clickNextSibling(e) {
        e.nextElementSibling.click()
    }

    function updateFileList() {
        var elem = select("#files");
        var list = select("#files-list");
        for (file of elem.files) {
            var exists = false;
            for (child of list.children) {
                if (child.id == file.name) {
                    exists = true;
                    break;
                }
            }

            if (exists == false) {
                var container = document.createElement("div")
                container.id = file.name
                container.classList.add("flex", "flex-row", "h-8", "shrink-0", "items-center", "bg-stone-900", "border", "border-stone-600", "justify-center", "px-3", "gap-2")
                // Create button to remove from list
                var button = document.createElement("button")
                button.classList.add("w-4", "h-full")
                button.onclick = function() {
                    this.parentElement.remove()
                }
                const template = document.querySelector("#close-icon");
                const clone = template.content.cloneNode(true);
                button.appendChild(clone);
                container.appendChild(button);
                // Create text label to show filename
                var div = document.createElement("div");
                div.id = file.name + "-text";
                div.innerHTML = file.name;;
                div.classList.add("text-xs");
                container.appendChild(div);
                list.appendChild(container);
            }
        }
    }

    function addEnvVariable() {
        const template = select("#env-var");
        const clone = template.content.cloneNode(true);
        select("button", clone).onclick = function() {
            this.parentElement.remove();
        }
        select("#env-list").appendChild(clone);
    }

    function showCrontabDetails(e) {
        var p = e.parentElement;
        p.firstElementChild.value = "crontab"

        for (child of p.children) {
            removeClass(child, "bg-blue-900")
            addClass(child, "bg-stone-900");
        }

        removeClass(e, "bg-stone-900");
        addClass(e, "bg-blue-900");

        var container = select("#execution-content");
        const template = select("#crontab-details");
        const clone = template.content.cloneNode(true);

        container.innerHTML = "";
        container.appendChild(clone)
    }

    function showSystemdDetails(e) {
        var p = e.parentElement;
        p.firstElementChild.value = "systemd"

        for (child of p.children) {
            removeClass(child, "bg-blue-900")
            addClass(child, "bg-stone-900");
        }

        removeClass(e, "bg-stone-900");
        addClass(e, "bg-blue-900");

        var container = select("#execution-content");
        const template = select("#systemd-details");
        const clone = template.content.cloneNode(true);

        container.innerHTML = "";
        container.appendChild(clone)
    }

    function showNoDetails(e) {
        var p = e.parentElement;
        p.firstElementChild.value = "none"

        for (child of p.children) {
            removeClass(child, "bg-blue-900")
            addClass(child, "bg-stone-900");
        }

        removeClass(e, "bg-stone-900");
        addClass(e, "bg-blue-900");

        var container = select("#execution-content");
        const template = select("#no-details");
        const clone = template.content.cloneNode(true);

        container.innerHTML = "";
        container.appendChild(clone)
    }

    function addEnvVariablesFromFile(elem) {
        var reader = new FileReader();
        reader.onload = function(e) {
            var content = e.target.result;

            var regex = /^\s*([\w_]+)\s*=\s*([""]?)([\w_])+([""]?)/gm;
            var matches = [...content.matchAll(regex)];

            for (match of matches) {
                if (match[2] == match[4]) {
                    const template = select("#env-var");
                    const clone = template.content.cloneNode(true);
                    select("button", clone).onclick = function() {
                        this.parentElement.remove();
                    }
                    select(".env-name", clone).value = match[1];
                    select(".env-value", clone).value = match[3];
                    select("#env-list").appendChild(clone);
                }

            }
            elem.value = null
        };
        reader.readAsText(elem.files[0])
    }

    {% if "scheduling" in config and config["scheduling"] == "systemd" %}
        runAfterLoad(() => { showSystemdDetails(document.querySelector("#systemd-btn")); })
    {% elif "scheduling" in config and config["scheduling"] == "crontab" %}
        runAfterLoad(() => { showCrontabDetails(document.querySelector("#crontab-btn")); })
    {% elif "scheduling" in config and config["scheduling"] == "none" %}
        runAfterLoad(() => { showNoDetails(document.querySelector("#none-btn")); })
    {% endif %}

    var secUntilRefresh = 1

    function updateLog() {
        secUntilRefresh = 30;
        removeClass("#log-spinner", "hidden");
        const url = "/log/{{ config['oldName'] }}";
        get(url).then((data) => {
            const json = JSON.parse(data);
            const ids = ["#log-textarea", "#log-header", "#refresh-container", "#refresh-text"];
            addClass("#log-spinner", "hidden");
            if (json.log != "") {
                select("#log-textarea").innerHTML = json.log;
                ids.forEach((id) => { removeClass(id, "hidden"); });
            } else {
                select("#log-textarea").innerHTML = "";
                ids.forEach((id) => { addClass(id, "hidden"); });
            }
        }).catch((err) => {});
    }

    function refreshLog() {
        secUntilRefresh -= 1;
        if (secUntilRefresh == 0) {
            updateLog();
        }
        select("#refresh-text").innerHTML = "Refresh in " + secUntilRefresh + "s";
    }

    runAfterLoad(() => { window.setInterval(refreshLog, 1000); })

    function updateName(e) {
        select("#name-title").innerHTML = (e.value != "") ? e.value : "New Script";
        select("form").setAttribute("action", "/script/" + e.value);
    }

    function toggleOutlineFile(e, value) {
        if (hasClass(e.nextElementSibling.nextElementSibling, "line-through")) {
            removeClass(e.nextElementSibling.nextElementSibling, "line-through");
            e.nextElementSibling.value = "";
        } else {
            addClass(e.nextElementSibling.nextElementSibling, "line-through");
            e.nextElementSibling.value = value;
        }
    }

    function handleSubmitForm(ev) {
        if (ev.key == "Enter" && ev.target.type != "textarea") {
            ev.prevDefault(); return false;
        }
    }
</script>
{% endblock %}

{% block content %}

<template id='argument'>
    <div>
        <button type='button' class="flex justify-center hover:line-through hover:text-red-400 items-center px-2 h-8 bg-stone-900  border-stone-600 border text-xs" onclick="this.parentElement.remove();"></button>
        <input style="font-family: monospace" class="hidden" type="text" name="cli-args" value="">
    </div>
</template>

<template id="close-icon">
    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
    </svg>
</template>

<template id="env-var">
    <div class="w-full flex flex-row gap-4 justify-center items-center">
        <input style="font-family: monospace" class="env-name flex grow shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" name="env_name" placeholder="VARIABLE">
        <input style="font-family: monospace" class="env-value flex grow shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" name="env_value" placeholder="VALUE">
        <button type="button" onclick="this.parentElement.remove();">
            <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
            </svg>
        </button>
    </div>
</template>

<template id="no-details">
    <div class='pt-4 w-full'>
        <button type='button' onclick="removeClass('#script-submit-spinner', 'hidden'); clickNextSibling(this)"
            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2 w-full" >
            <div class="flex flex-row w-10 h-10 items-center justify-center">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                    <path d="M11 16a1 1 0 0 1-1-1v-1h2v1a1 1 0 0 1-1 1Z"/>
                    <path d="M17.989 6.124a6.5 6.5 0 0 0-12.495-2.1A5 5 0 0 0 6 14h4V8.414l-.293.293a1 1 0 0 1-1.414-1.414l2-2a1 1 0 0 1 1.414 0l2 2a1 1 0 1 1-1.414 1.414L12 8.414V14h5a4 4 0 0 0 .989-7.876Z"/>
                </svg>
            </div>
            {% if not config['name'] or config['name'] == '' %}
            <div>Submit</div>
            {% else %}
            <div>Update</div>
            {% endif %}
        </button>
        <input style="font-family: monospace" type="submit" class='hidden'/>
    </div>
</template>

<template id="crontab-details">
    <div class="flex flex-col w-full bg-stone-900  border border-stone-600 p-4">
        <div class="pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Time of execution</div>
        <div class="flex flex-row w-full flex-wrap flex-evenly">
            <div class="flex flex-row justify-center items-center shrink-0 p-4">
                <label for="minute" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Minute</label>
                <input style="font-family: monospace" class="flex grow shrink px-2 h-8 bg-stone-800  border-stone-600 border text-xs" type="text" id="minute" name="minute" placeholder="{0-59, *}" value="{{ config['crontab']['minute'] if 'crontab' in config else '' }}">
            </div>
            <div class="flex flex-row justify-center items-center shrink-0 p-4">
                <label for="hour" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Hour</label>
                <input style="font-family: monospace" class="flex grow shrink px-2 h-8 bg-stone-800  border-stone-600 border text-xs" type="text" id="hour" name="hour" placeholder="{0-23, *}" value="{{ config['crontab']['hour'] if 'crontab' in config else '' }}">
            </div>
            <div class="flex flex-row justify-center items-center shrink-0 p-4">
                <label for="day" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Day</label>
                <input style="font-family: monospace" class="flex grow shrink px-2 h-8 bg-stone-800  border-stone-600 border text-xs" type="text" id="day" name="day" placeholder="{1-31, *}" value="{{ config['crontab']['day'] if 'crontab' in config else ''}}">
            </div>
            <div class="flex flex-row justify-center items-center shrink-0 p-4">
                <label for="month" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Month</label>
                <input style="font-family: monospace" class="flex grow shrink px-2 h-8 bg-stone-800  border-stone-600 border text-xs" type="text" id="month" name="month" placeholder="{1-12, *}" value="{{ config['crontab']['month'] if 'crontab' in config else '' }}">
            </div>
            <div class="flex flex-row justify-center items-center shrink-0 p-4">
                <label for="weekday" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Weekday</label>
                <input style="font-family: monospace" class="flex grow shrink px-2 h-8 bg-stone-800  border-stone-600 border text-xs" type="text" id="weekday" name="weekday" placeholder="{0-6, *}" value="{{ config['crontab']['weekday'] if 'crontab' in config else '' }}">
            </div>
        </div>
    </div>
    <div class='pt-4 w-full'>
        <button type='button' onclick="removeClass('#script-submit-spinner', 'hidden'); clickNextSibling(this);"
            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2 w-full" >
            <div class="flex flex-row w-10 h-10 items-center justify-center">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                    <path d="M11 16a1 1 0 0 1-1-1v-1h2v1a1 1 0 0 1-1 1Z"/>
                    <path d="M17.989 6.124a6.5 6.5 0 0 0-12.495-2.1A5 5 0 0 0 6 14h4V8.414l-.293.293a1 1 0 0 1-1.414-1.414l2-2a1 1 0 0 1 1.414 0l2 2a1 1 0 1 1-1.414 1.414L12 8.414V14h5a4 4 0 0 0 .989-7.876Z"/>
                </svg>
            </div>
            {% if not config['name'] or config['name'] == '' %}
            <div>Submit</div>
            {% else %}
            <div>Update</div>
            {% endif %}
        </button>
        <input type="submit" class='hidden'/>
    </div>
</template>

<template id="systemd-details">
    <div class="flex flex-col w-full bg-stone-900  border border-stone-600 p-4 gap-2 items-center">
        <div class="pb-2 flex w-full flex-none grow-0 shrink-0 text-blue-400">Service file</div>
        {% for entry in systemd %}
            {% if entry != "none" %}
            <div class="pl-4 p-2 flex w-full flex-none grow-0 shrink-0 text-blue-400 text-sm">{{ entry }}</div>
            {% endif %}
            {% for value in systemd[entry] %}
                {% if 'placeholder' in value %}
                <div class="flex w-full flex-none grow-0 shrink-0 flex-row gap-4 pl-4 items-center">
                    <label for="systemd-desc" class="flex flex-none shrink-0 grow-0 w-32 text-sm">{{ value["name"] }}</label>
                    <input style="font-family: monospace" class="flex grow w-full shrink px-3 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" id="systemd-{{ value["name"].lower() }}" name="systemd-{{ value["name"].lower() }}" placeholder="{{ value["placeholder"] }}" value="{{ config['systemd'][entry][value["name"].lower()] if "systemd" in config else value["default"] if "default" in value else "" }}" {% if 'required' in value %} required {% endif %} >
                </div>
                {% else %}
                <div class="flex w-full flex-none grow-0 shrink-0 flex-row gap-4 pl-4 items-center">
                    <label for="systemd-desc" class="flex flex-none shrink-0 grow-0 w-32 text-sm">{{ value["name"] }}</label>
                    <select style="font-family: monospace" class="flex grow w-full shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" id="systemd-{{ value["name"].lower() }}" name="systemd-{{ value["name"].lower() }}">
                        {% for opt in value['options'] %}
                            {% if 'systemd' in config and entry in config['systemd'] and opt == config['systemd'][entry][value["name"].lower()] %}
                                <option value="{{ opt }}" class="text-sm" selected="selected">{{ opt }}</option>
                            {% else %}
                                <option value="{{ opt }}" class="text-sm">{{ opt }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class='pt-4 w-full'>
        <button type='button' onclick="removeClass('#script-submit-spinner', 'hidden'); clickNextSibling(this)"
            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2 w-full" >
            <div class="flex flex-row w-10 h-10 items-center justify-center">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                    <path d="M11 16a1 1 0 0 1-1-1v-1h2v1a1 1 0 0 1-1 1Z"/>
                    <path d="M17.989 6.124a6.5 6.5 0 0 0-12.495-2.1A5 5 0 0 0 6 14h4V8.414l-.293.293a1 1 0 0 1-1.414-1.414l2-2a1 1 0 0 1 1.414 0l2 2a1 1 0 1 1-1.414 1.414L12 8.414V14h5a4 4 0 0 0 .989-7.876Z"/>
                </svg>
            </div>
            {% if not config['name'] or config['name'] == '' %}
            <div>Submit</div>
            {% else %}
            <div>Update</div>
            {% endif %}
        </button>
        <input type="submit" class='hidden'/>
    </div>
</template>

<div class="w-full h-full relative">
    <div class="p-4 flex flex-col w-full h-full gap-4 no-scrollbar overflow-auto">
        <div class="flex grow-0 shrink-0 w-full h-4 flex-row gap-2">
            <div class="flex flex-none h-full grow-0 shrink-0 text-sm text-blue-400">Scripts</div>
            <div class="flex flex-none h-full grow-0 shrink-0 text-sm">></div>
            <div id='name-title' class="flex flex-none h-full grow-0 shrink-0 text-sm">
                {% if config['name'] == '' %}
                New Script
                {% else %}
                {{ config['name'] }}
                {% endif %}
            </div>
            <div class="flex flex-1 grow shrink w-1 h-full"></div>
        </div>
        <div class="flex grow-0 shrink-0 w-full flex-row">
            <div class="flex flex-none h-full grow-0 shrink-0 text-3xl">
                {% if not config['name'] or config['name'] == '' %}
                Create Script
                {% else %}
                Edit script
                {% endif %}
            </div>
            <div class="flex flex-1 grow shrink w-1 h-full"></div>
        </div>
        {% if "error" in config and config["error"] != "" %}
        <div class="flex w-full flex-row  bg-red-800 border border-red-400 px-2 py-1 text-xs justify-center">
            {{ config["error"] }}
        </div>
        {% endif %}
        <div class="flex grow-0 shrink-0  p-3 w-full bg-stone-800 border border-stone-600">
            <form class="w-full" action="/script/{{ config['name'] }}", method='POST' enctype="multipart/form-data" onkeypress="handleSubmitForm(event)">
                <input class="hidden" name="old-name" value="{{ config['oldName'] }}">
                <div class="flex w-full flex-col gap-2">
                    {% if config["oldName"] and config["oldName"] != "" %}
                    <div class="flex w-full flex-col gap-2">
                        <div id="log-header" class="pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Log</div>
                        <div class="flex relative grow shrink w-full">
                            <textarea id="log-textarea" disabled="true" class="border h-full border-stone-500 flex w-full bg-stone-900 p-2 text-xs" style="font-family: monospace" rows=8></textarea>
                            <div id="log-spinner" class="absolute top-0 left-0 h-full w-full flex flex-row justify-center justify-items-center opacity-80 border border-stone-500">
                                <div class='flex flex-col w-full h-full justify-center items-center gap-4 bg-stone-900'>
                                    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                    </svg>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row w-full h-4 gap-4 items-center" id="refresh-container">
                            <div class="flex grow shrink h-full"></div>
                            <div class="flex shrink-0 grow-0 h-full text-xs hidden" id="refresh-text">Refresh in 10s</div>
                            <button type="button" class="flex grow-0 shrink-0 w-6 p-1 hover:text-blue-900 text-gray-800 dark:text-white" onclick="updateLog()">
                                <svg class="w-4 h-4 animate-spin" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    <div class="pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">General</div>
                    <div class="flex w-full flex-none grow-0 shrink-0 flex-row justify-center items-center gap-4 pl-4">
                        <label for="name" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Name</label>
                        <input style="font-family: monospace" class="flex grow w-full shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" id="name" name="name" placeholder="e.g. myscript (only characters, numbers and underscores allowed)" value="{{ config['name'] }}" pattern="[a-zA-Z0-9_\-]+" required onkeyup="updateName(this)">
                    </div>
                    <div class="flex w-full flex-none grow-0 shrink-0 flex-row justify-center items-center gap-4 pl-4">
                        <label for="entrypoint" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Entrypoint</label>
                        <input style="font-family: monospace" class="flex grow w-full shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" id="entrypoint" name="entrypoint" placeholder="e.g. myscript.py" value="{{ config['entryPoint'] }}">
                    </div>
                    <div class="flex w-full flex-none grow-0 shrink-0 flex-row flex-wrap items-center gap-4 pl-4">
                        <label for="cli-args" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Arguments</label>
                        <input style="font-family: monospace" class="flex grow min-w-8 shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" id="cli-args" name="cli-args" placeholder="List of arguments for execution." value="{{ config["arguments"] }}">
                    </div>
                    <div class="flex w-full flex-none grow-0 shrink-0 flex-row flex-wrap items-center gap-4 pl-4">
                        <label for="cli-service-args" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Service Arg.</label>
                        <input style="font-family: monospace" class="flex grow min-w-8 shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" id="cli-service-args" name="cli-service-args" placeholder="Additional arguments only used if executed as a service." value="{{ config["service-args"] }}">
                    </div>
                    <div class="flex w-full flex-none grow-0 shrink-0 flex-row justify-center items-center gap-4 pl-4">
                        <label for="interpreter" class="flex flex-none shrink-0 grow-0 w-20 text-sm">Interpreter</label>
                        <select style="font-family: monospace" class="flex grow w-full shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" id="interpreter" name="interpreter">
                            {% for interpreter in interpreters %}
                                {% if 'interpreter' in config and config['interpreter']['name'] == interpreter %}
                                <option value="{{ interpreter }}" class="text-sm" selected="selected">{{ interpreter }}</option>
                                {% else %}
                                    <option value="{{ interpreter }}" class="text-sm">{{ interpreter }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% if config['files'] %}
                    <div class="pt-4 pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Stored files</div>
                    <div class="flex flex-row w-full flex-wrap justify-start gap-2">
                        {% for f in config['files'] %}
                        <div class="flex flex-row h-8 shrink-0 items-center bg-stone-900  border border-stone-600 justify-center px-3 gap-2">
                            <button type='button' class='w-4 h-full' onclick="toggleOutlineFile(this, '{{ f }}')">
                                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                                </svg>
                            </button>
                            <input style="font-family: monospace" class="text-sm hidden" type="text" name="file-remove" value="">
                            <div class='text-xs'>{{ f }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="pt-4 pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Upload files</div>
                    <div class="flex flex-row w-full flex-none grow-0 shrink-0 h-14 gap-2">
                        <button id='upload-btn' type='button' onclick="clickNextSibling(this)"
                            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <div class="flex flex-row w-10 h-10 items-center justify-center">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="m14.707 4.793-4-4a1 1 0 0 0-1.416 0l-4 4a1 1 0 1 0 1.416 1.414L9 3.914V12.5a1 1 0 0 0 2 0V3.914l2.293 2.293a1 1 0 0 0 1.414-1.414Z"/>
                                    <path d="M18 12h-5v.5a3 3 0 0 1-6 0V12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                                </svg>
                            </div>
                            <div>Upload</div>
                        </button>
                        <input style="font-family: monospace" type="file" name="files" id="files" class='hidden' multiple='multiple' onchange="updateFileList()">
                    </div>
                    <div class="flex flex-row w-full flex-wrap justify-start gap-2" id='files-list'></div>
                    <div class="pt-4 pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Run Commands</div>
                    <div class="flex flex-row w-full flex-none grow-0 shrink-0">
                        <div class="w-full">
                            <textarea name='install-script' id="install-script" style="font-family: monospace" class="border border-white  flex w-full bg-stone-900 p-2 text-xs" rows='8' placeholder="Run bash commands in the script project directory, e.g. to unpack an uploaded ZIP archive..." value="{{ config['install'] if 'install' in config and config['install'] != None else '' }}">{{ config['install'] if 'install' in config and config['install'] != None else '' }}</textarea>
                        </div>
                    </div>
                    <div class="pt-4 pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Environment variables</div>
                    <div id='env-list' class="flex flex-col w-full gap-2">
                        {% for env in config['environment'] %}
                            <div class="w-full flex flex-row gap-4 justify-center items-center">
                                <input style="font-family: monospace" class="env-name flex grow shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" name="env_name" placeholder="VARIABLE" value="{{ env }}">
                                <input style="font-family: monospace" class="env-value flex grow shrink px-2 h-8 bg-stone-900  border-stone-600 border text-xs" type="text" name="env_value" placeholder="VALUE" value="{{ config['environment'][env] }}">
                                <button type="button w-4" onclick="this.parentElement.remove();">
                                    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                                    </svg>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="w-full flex flex-row gap-4 h-10 pt-2">
                        <button type='button' onclick="addEnvVariable()"
                            class="flex flex-row basis-1/2 grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                            <div class='text-sm'>Add environment variable</div>
                        </button>
                        <button type='button' onclick="clickNextSibling(this)"
                            class="flex flex-row grow basis-1/2 h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                            <div class='text-sm'>Upload .env file</div>
                        </button>
                        <input style="font-family: monospace" type="file" class='hidden' onchange="addEnvVariablesFromFile(this)">
                        <div class="w-4">
                        </div>
                    </div>
                    <div class="pt-4 pb-1 flex w-full flex-none grow-0 shrink-0 text-blue-400">Execution scheduling</div>
                    <div class="flex flex-row w-full flex-none grow-0 shrink-0 h-14 gap-2">
                        <input style="font-family: monospace" class="hidden" name="scheduling" value="">
                        <button id='crontab-btn' type='button' onclick="showCrontabDetails(this)"
                            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <div>Crontab</div>
                        </button>
                        <button id='systemd-btn' type='button' onclick="showSystemdDetails(this)"
                            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <div>Systemd</div>
                        </button>
                        <button id='none-btn' type='button' onclick="showNoDetails(this)"
                            class="flex flex-row grow h-full  bg-stone-900 justify-center items-center hover:bg-blue-900 border border-stone-600 gap-2" >
                            <div>None</div>
                        </button>
                    </div>
                    <div id="execution-content" class="flex flex-col w-full">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="script-submit-spinner" class="hidden absolute top-0 left-0 h-full w-full flex flex-row justify-center justify-items-center opacity-80">
        <div class='flex flex-col w-full h-full justify-center items-center gap-4 bg-stone-900'>
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}
