<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="dark:bg-slate-800 dark:text-white">
<div class="h-screen flex items-center justify-center">
    <div>
        <h3 class="text-center font-mono text-8xl">
            PAGE NOT FOUND
        </h3>
        <p class="text-center font-mono" style="padding: 0 10%">
            Please check the URL. If you reached this site by using the supported navigation, please report the issue and include the steps you took. Thanks in advance.
        </p>
    </div>
</div>
</body>

</html>
